html, body { 
  font-family: 'Raleway', sans-serif;
 }

.landing-alert {
  margin-bottom: 0;
}


h2 { 
  font-size: 20px;
}

h3 { 
  text-align: center; 
  color: white;
  margin: 10px;
}

h3.span { 
  letter-spacing: 10rem;
}


h6 { 
font-size: 1rem;
 }

.landing-header {
  background-size: cover;
  min-height: 570px;
}

.landing-header .motto {
  padding-top: 8%;
  text-align: left;
  z-index: 3;
}

.landing-section {
  padding: 100px 0;
}

.landing-section .btn-simple {
  padding: 0;
}

.landing-section .column {
  padding: 0 75px 0 25px;
}

.team-player .img-circle, .team-player .img-thumbnail {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}

.contact-form {
  margin-top: 30px;
}

.contact-form label {
  margin-top: 15px;
}

.contact-form .btn {
  margin-top: 30px;
}

.navbar { 
background-color: #185567;
padding: 0;
}

.btn, .navbar .navbar-nav > li > a.btn {
  border-radius: 20px;
  box-sizing: border-box;
  border-width: 2px;
}

.navbar-relative {
  position: relative;
  z-index: 2;
}

#register-navbar a {
  color: #FFF;
/*  background-color: #185567;
  border-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;*/
  border-width: 2px;
  margin: 15px 3px;
  padding: 7px 18px;
}


#register-navbar a:hover {
  background-color: #ffffff;
  border-color: #00BCD4;
  color: #185567;
  border-radius: 20px;
  box-sizing: border-box;
  border-width: 2px;
  margin: 15px 3px;
  padding: 7px 18px;
}
  
}

.register-background {
 /* background-image: url("../paper_img/landscape.jpg");*/
  background: #FFFFFF;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.register-background .filter-black::after {
 /* background-color: rgba(0, 0, 0, 0.5);*/
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.register-background .container {
  margin-top: 11%;
  position: relative;
  z-index: 3;
}

.register-footer {
  bottom: 20px;
  color: #185567;
  position: absolute;
  z-index: 3;
  width: 100%;
}


.register-card {
  background-color: #185567;
  border-radius: 8px;
  border: 1px solid #185567;
  color: #fff;
  max-width: 350px;
  margin: -15px 0 70px;
  min-height: 400px;
  padding: 30px;
}


.register-card label {
  margin-top: 15px;
  font-size: 1rem;
}

.register-card img {
  max-width: 100%; 
}

.register-card .title {
  color: #FFF;
  text-align: center;
  line-height: 50%;
  letter-spacing: .5rem;
}

.register-card .btn {
  margin-top: 30px;
}

.register-card .btn:active {
/*  margin-top: 30px;*/
  background-color: #185567;
  border-color: #fff;

}

.register-card .forgot {
  text-align: center;
}

.profile-background {
 /* background-image: url("../paper_img/lamp.jpg");*/
  background-position: center center;
  background-color: #E3F6F4;
  background-size: cover;
  height: 300px;
  position: relative;
  margin-top: -110px;
}

.profile-background .filter-black::after {
  background-color: #E3F6F4;
  content: "";
  display: block;
  height: 300px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.profile-content {
  position: relative;
}

.owner .avatar {
  margin-top: -85px;
  padding: 15px;
  position: relative;
  z-index: 3;
}

.owner .name h4 {
  margin-top: 10px;
}

.profile-tabs {
  margin: 50px 0;
  min-height: 300px;
}

#following h3 {
  margin: 40px 0;
}

.follows .unfollow {
  width: 15px;
}

.follows hr {
  margin-top: 10px;
}

.alert h5 {
  margin-bottom: 10px;
}

.btn-danger {
  color: #fff;
  background-color: #185567;
  border-color: #FFF;
}

.btn-danger:hover { 
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #185567;
}

.btn-danger:active { 
  background-color: #185567;
  border-color: #00BCD4;  
  color: #185567;
}

.btn-danger:focus { 
  background-color: #185567;
  border-color: #00BCD4;
  color: #185567;
}

.entry { 
  min-width: 100%;
  }

.btn-group .entry { 
  color: #fff; 
  min-width: 50%;
  border-color: #FFFFFF;
  border-radius: 20px;
}

.btn-group .entry:hover {
  background-color: #ffffff;
 /* border-color: #00BCD4;*/
  color: #185567;

}


.btn-group-justified>.btn, .btn-group-justified>.btn-group {
  display: table-cell;
  float: none;
  /*width: 1%;*/
  font-size: 1vw;
}

/*Media Small*/

@media (max-width: 767px) {
  
.navbar-transparent {
  padding-top: 15px;
  background-color: rgba(0, 0, 0, 0.45);
}

body {
  position: relative;
  font-size: 1vw;
}

.register-card {
  background-color: #185567;
  border-radius: 8px;
  border: 1px solid #185567;
  color: #fff;
  max-width: 350px;
  margin: 65px 0 70px;
  min-height: 400px;
  padding: 30px;
}

.btn-group-justified>.btn, .btn-group-justified>.btn-group {
  display: table-cell;
  float: none;
  /*width: 1%;*/
  font-size: 2.5vw;
}


.dropdown-toggle { 
  min-width: 100%; 
  border: 0;
}

.dropdown-toggle:hover { 
  color: #185567;
  background-color: #E3F6F4;
  border: 1px solid #185567
}

.dropdown-toggle.btn:active {
  color: #185567;
  background-color: #E3F6F4;
  border: 1px solid #185567
}

.dropdown-toggle.btn:active {
  color: #185567;
  background-color: #E3F6F4;
  border: 1px solid #185567
}


.dropdown-toggle span.caret:hover { 
  color: #185567;
 }

}


/* Media Tablet */

@media (max-width: 978px) {
  .navbar-transparent {
  padding-top: 15px;
  background-color: rgba(0, 0, 0, 0.45);
}

body {
  position: relative;
  font-size: 1vw;
}

.register-card {
  background-color: #185567;
  border-radius: 8px;
  border: 1px solid #185567;
  color: #fff;
  max-width: 350px;
  margin: 65px 0 70px;
  min-height: 400px;
  padding: 30px;
}

.btn-group-justified>.btn, .btn-group-justified>.btn-group {
  display: table-cell;
  float: none;
  /*width: 1%;*/
  font-size: 2vw;
}

.form-control { 
  background-color: #FFFFFF; 
}

.input.datepicker.form-control {
  background-color: #FFFFFF;
  border: medium none;
  border-radius: 4px;
  color: #185567;
  font-size: 16px;
  transition: background-color 0.3s ease 0s;
  padding: 7px 18px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

body > div:nth-child(2) > div > div > div.row.matt > div:nth-child(1) > input:hover {
  background-color: #fffcf5;
  border: medium none;
  border-radius: 4px;
  font-size: 16px;
  border-color: red;
  transition: background-color 0.3s ease 0s;
  padding: 7px 18px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input.datepicker.form-control:focus {
  background-color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
}

.input.datepicker.form-control:hover {
  background-color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
}

input.form-control {
  background-color: #fffcf5;
  border: medium none;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease 0s;
  padding: 7px 18px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input.form-control:focus {
  background-color: #fffcf5;
  border: medium none;
  border-radius: 4px;
  font-size: 16px;
  border-color: red;
  transition: background-color 0.3s ease 0s;
  padding: 7px 18px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.dropdown-toggle { 
  min-width: 100%; 
  border: 0;
}

.dropdown-toggle:hover { 
  color: #185567;
  background-color: #E3F6F4;
  border: 1px solid #185567
}

.dropdown-toggle.btn:active {
  color: #185567;
  background-color: #E3F6F4;
  border: 1px solid #185567
}

.dropdown-toggle.btn:active {
  color: #185567;
  background-color: #E3F6F4;
  border: 1px solid #185567
}


.dropdown-toggle span.caret:hover { 
  color: #185567;
 }




}



.section { 
  background-color: #FFFFFF;
  margin-top: 69px;
  max-height: 15%;
}

.panel { 
  color: #185567;
  max-height: 75px;
  margin-top: 20px;
}

.panel:first-child { 
  margin-top: 100px;
}

.jumbtron p {
  font-size: 2em;
  max-width: 90%;
  color: #ffffff;
  text-align: center;
}

.matt { 
  padding-top: 10px; 
  background-color: #185567;
  min-width: 25%;
  margin-bottom: 10px;
  font-size: 14px;
  vertical-align: center;
/*  display: flex; 
  flex-wrap: wrap;
  text-align: center; 
*/
}

.matt:not(:first-child) { 
  padding-bottom: 10px; 
}

input.datepicker.form-control {
  max-width: 100%;
}

.dropdown-toggle { 
  min-width: 100%; 
  border: 0;
}

.dropdown-toggle:hover { 
  color: #185567;
  background-color: #E3F6F4;
  border: 1px solid #185567
}

.dropdown-toggle.btn:active {
  color: #185567;
  background-color: #E3F6F4;
  border: 1px solid #185567
}

.dropdown-toggle.btn:active {
  color: #185567;
  background-color: #E3F6F4;
  border: 1px solid #185567
}


.dropdown-toggle span.caret:hover { 
  color: #185567;
 }

.btn:hover, .btn:focus, .btn:active, .btn.active, .open > .btn.dropdown-toggle,
.navbar .navbar-nav > li > a.btn:hover,
.navbar .navbar-nav > li > a.btn:focus,
.navbar .navbar-nav > li > a.btn:active,
.navbar .navbar-nav > li > a.btn.active, .open >
.navbar .navbar-nav > li > a.btn.dropdown-toggle {
  background-color: #E3F6F4;
  color: #185567;
  border-color: #185567;
}

label { 
  color: #ffffff;
}

body > div > div > div > div > div > div > label { 
font-size: 16px; 
color: #FFFFFF;
}

.radio-inline input[type=radio] {/* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
  border: 1px solid red;
}

.radio-inline input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
  opacity: 0.5;
}

.radio-inline input:hover + img{ /* (RADIO CHECKED) IMAGE STYLES */
  transition: opacity 0.4s ease 0s;
  opacity: 1;
}


.radio-inline input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  opacity: 1;
}

.radio-inline input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  
}

.sur img { 
  margin: auto;
  margin-bottom: 1em;
}

.sur2 { 
  border: 1px solid red; }

label.radio-inline { 
  text-align: center; }

.surg { 
  text-align: center;
  width: 100%;
  height: auto; 
  background-size: cover;
  background-position: center center;
  max-width: 50%;
}

.hr { 
  width: 90% !important;
 }





/*
label.radio-inline { 
  text-align: center;
}
*/

